* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.map-container {
  height: 100vh;
  width: 100vw;
}

.map-layers-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  background-color: white;
  color: black;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map-layers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.map-layers-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.map-layers-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}